rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Permitir leitura para todos, mas escrita apenas para usuários autenticados
    match /users/{userId} {
      allow read;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    
    match /groups/{groupId} {
      allow read;
      allow write: if request.auth != null;
    }
    
    match /posts/{postId} {
      allow read;
      allow write: if request.auth != null;
    }
  }
}
